a {
    text-decoration: none;
}
a:hover {
    background-color: yellow;
  }
.card{
    box-shadow: .5px .5px 2px #212529 ;
}
.card-title{
    font-size: large;
    font-weight: 400;
    
}
.card-body{
    color: #212529 ;
    border-top: 1px solid #212529 ;  
    height: 5rem;
}