.card{
    box-shadow: 1px 1px 5px #212529 ;
}
.card-title{
    font-size: large;
    font-weight: 400;
    
}
.card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212529 ;
    border-top: 1px solid #212529 ;  
    height: 5rem;
}