<div class="container">
  <div class="d-flex mb-4">
    <div class="card m-1" style="width: 50%;">
      <img [src]="boardImage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{boardTitle}}</h5>
        <!-- <p class="card-text">{{boardDescription}}</p> -->
      </div>
    </div>  
    <div class="about p-5" style="width: 40%;">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, rem excepturi possimus rerum distinctio nisi voluptates 
      est reiciendis inventore ipsam assumenda quaerat doloribu
      s? Fugiat ratione est porro quia, aut iure!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem deserunt corporis quam minus, eius vel aspernatur culpa! Accusantium 
      delectus, facere, minima tempora, odio 
      quae ipsum molestias vitae aspernatur labore quidem?
    </div>


  </div>
  <table class="table table-responsive table-bordered h6">
    <thead style="background-color: #05184C; color: white;">
      <tr>
        <td>Item No</td>
        <td>Size</td>
        <td>Case Pack</td>
        <td>Price</td> 
        <td>Action</td> 
      </tr>

    </thead>
    <tbody>
        <tr>
          <td class="action-btn ">120304</td>
          <td class="action-btn ">2cm*6cm*5cm</td>
          <td class="action-btn ">$2.00</td> 
          <td class="action-btn "><button class="btn btn-success btn-sm">Add to Card</button></td>   
        </tr>
    </tbody>
  </table>  
 
</div>
  