<div class="container">
  <div class="d-flex my-4"*ngFor="let board of boards">
    <div class="card me-5" style="width: 50%;" >
      <img [src]="board.image_url" class="card-img-top" alt="..."width="648px" height="648px">
      <div class="card-body">
        <h5 class="card-title">{{board.name}}</h5>
        <!-- <p class="card-text">{{boardDescription}}</p> -->
      </div>
    </div>  
    <div class="about " style="width: 50%;">
      <p>
      {{board.description}} 
      </p>
      <table class="table table-responsive table-bordered h6">
        <thead style="background-color: #212529; color: white;">
          <tr>
            <td>Dimensions</td>
            <td>Color</td>
            <td>Capacity</td>
            <td>Material</td>
            <td>Price</td> 
            <td>Action</td> 
          </tr>
      
        </thead>
        <tbody>
            <tr *ngFor="let product_item of product_items">
              <td class="action-btn ">{{product_item.dimension}}</td>
              <td class="action-btn ">{{product_item.color}}</td>
              <td class="action-btn ">{{product_item.capacity}}ml</td> 
              <td class="action-btn ">{{product_item.material}}</td>
              <td class="action-btn ">${{product_item.price}}</td>
              <td class="action-btn "><button class="btn btn-outline-dark btn-sm" (click)="onAddToCartClick(product_item.id,board.name,board.image_url,
                product_item.dimension,product_item.price)">Add to Cart</button></td>   
            </tr>
        </tbody>
      </table>  

    </div>


  </div>
 
</div>
