.example-container {
    width: auto;
    height: 89vh;
    margin: 10px;
    margin-left: 0;
  }
.side-nav{
    width: 15%;
    border-right: 2px solid #000
}


mat-drawer {
  width:auto;
  margin-left: 0;
 
}